.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.landing-page {
  align-items: center;
  color: white;
  min-height: 100vh;
  background: linear-gradient(135deg, rgba(12,206,188,1) 0%, rgba(49,93,183,1) 100%)
}
.dashboard{
  background: linear-gradient(135deg, rgba(12,206,188,1) 0%, rgba(49,93,183,1) 100%);
  min-height: 100vh;
  color:white;

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
